# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# VSCode
.vscode/

# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
*.log
*.tmp
.env
.env.*     # If using dotenv for multiple environments like .env.production, .env.staging etc.
*.swp
*.swo

# Output of `react-native bundle`
*.jsbundle
*.map
*.bundle
*.assets

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# CocoaPods
**/Pods/
vendor/bundle/

# Metro
.metro-health-check*

# Jest/Testing
coverage/
jest-test-results.json

# Expo
.expo/
.expo-shared/

# Watchman
.watchmanconfig

# Yarn 2+ (Zero Installs)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Misc
*.bak
*.orig
*.rej
*.log.*

# Firebase (optional)
firebase-debug.log
